
demo.py

tortilla_spec/__pycache__/

dist/

pytortilla/__pycache__/

demo/

demo2.py

demo3.py

soy_una.tortilla

pytortilla/compile/__pycache__/

pytortilla/create/__pycache__/

pytortilla/datamodel/__pycache__/

pytortilla/edit/__pycache__/

pytortilla/load/__pycache__/

soy_un_subset_dos.tortilla

soy_un_subset.tortilla

bb.tortilla

aa.tortilla
